<!DOCTYPE html>
<html lang="en">

<head>
  <title>NETWORK</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    .login {
      background-color: #d3d3d3;
      position: relative;
      left: 10px;
      top: 100px;
      width: 65%;
      padding: 25px;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar navbar-expand-sm navbar-dark bg-primary">
    <ul class="nav navbar-nav">
      <li>
        <a style="color: white;" href="/login"><b>login</b></a>
      </li>
      <li>
        <a style="color: white;" href="/signup"><b>Signup</b></a>
      </li>
    </ul>
  </nav>